<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServelet</servlet-name>
        <servlet-class>com.tech.blog.servletes.RegisterServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_servlete</servlet-name>
        <servlet-class>com.tech.blog.servletes.login_servlete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout_servelete</servlet-name>
        <servlet-class>com.tech.blog.servletes.logout_servelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlete</servlet-name>
        <servlet-class>com.tech.blog.servletes.EditServlete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>photoservlate</servlet-name>
        <servlet-class>com.tech.blog.servletes.photoservlate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostServelet</servlet-name>
        <servlet-class>com.tech.blog.servletes.AddPostServelet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServelet</servlet-name>
        <url-pattern>/RegisterServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_servlete</servlet-name>
        <url-pattern>/login_servlete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout_servelete</servlet-name>
        <url-pattern>/logout_servelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlete</servlet-name>
        <url-pattern>/EditServlete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostServelet</servlet-name>
        <url-pattern>/AddPostServelet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
